.menu::before {
  content: "";
  border-radius: 12px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(240, 240, 240, 0.2) 100%
  );
  padding: 1px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.menu {
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.25) inset,
    -1px -1px 4px rgba(255, 255, 255, 0.8) inset;
}